<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="channelProperties" type="Inbox2.Platform.Framework.Configuration.XmlSerializerSectionHandler, Inbox2.Platform.Framework" />
	</configSections>
	
	<appSettings>
		<add key="/Settings/Diagnostics/CodeTimerEnabled" value="true" />
		<add key="/Settings/Application/DisableServiceRequestSigning" value="true" />
		<add key="/Settings/Channels/LoggerEnabled" value="true"/>
		
		<add key="/Settings/Application/Theme" value="DarkSide" />
		<add key="/Settings/Application/NrOfBuckets" value="3" />
		<add key="/Settings/Application/BucketSize" value="3" />

		<add key="/Settings/Application/HttpListenerPort" value="62101" />

		<add key="/Settings/Channels/Codebase" value="client" />
	</appSettings>

	<channelProperties type="Inbox2.Platform.Framework.Configuration.AdditionalChannelProperties, Inbox2.Platform.Framework">
		<channels>
		<channel name="GMail" helpUrl="http://help.inbox2.com/entries/118031-gmail" preferedColour="#de6161" />
		<channel name="Hotmail" helpUrl="http://help.inbox2.com/entries/118035-windows-live-hotmail" preferedColour="#ffffff" />
		<channel name="Yahoo" helpUrl="http://help.inbox2.com/entries/118039-yahoo-mail" preferedColour="#82138c" />
		<channel name="AOL" helpUrl="http://help.inbox2.com/entries/118040-aol-mail" preferedColour="#adcbe2" />
		<channel name="Exchange" helpUrl="http://help.inbox2.com/entries/118042-exchange" preferedColour="#ffffff" hostnameHint="http://yourexchangeserver/" />
		<channel name="Facebook" helpUrl="http://help.inbox2.com/entries/118044-facebook" preferedColour="#6597ff" />
		<channel name="Twitter" helpUrl="http://help.inbox2.com/entries/118049-twitter" preferedColour="#77dbf3" />
		<channel name="LinkedIn" helpUrl="http://help.inbox2.com/entries/118052-linkedin" preferedColour="#1f9fdf" />
		<channel name="Hyves" helpUrl="http://help.inbox2.com/entries/118054-hyves" preferedColour="#ffab04" />
		<channel name="Yammer" helpUrl="http://help.inbox2.com/entries/118055-yammer" preferedColour="#00b3da" />
		<channel name="Other" helpUrl="http://help.inbox2.com/entries/118056-own-pop3-imap-channel" preferedColour="#124" />
		</channels>
	</channelProperties>
</configuration>
