.bundle
db/*.sqlite3*
log/*.log
*.log
*.log.*
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
bin/
obj/
debug 
*.suo 
*.resharper 
*.user 
*ReSharper* 
*ReSharper*/
*TestResults* 
*.log 
*.log.* 
*Publish.xml 
*.sln.cache 
js.js 
app.js 
css.css